{% extends 'base.html' %}

{% block title %} Register User {% endblock %}

{% block content %}

<form method="POST" id="register-form">
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
                {{ error }}
            {% enfor %}

        </p>

    {% endfor %}

    <button type="submit">Register</button>
</form>


{% endblock %}